section.about
	.container
		+blockHeader("What we do", "Story About Us", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus quo dolor laboriosam, natus hic voluptate earum nisi incidunt eum deleniti porro voluptatum sequi obcaecati! Corrupti maxime similique necessitatibus recusandae eligendi!")
		.about-list 
			+aboutItem("./images/img-about1.png", "fa fa-users", "Super Team")
			+aboutItem("./images/img-about2.png", "fa fa-users", "Super Team")
			+aboutItem("./images/img-about3.png", "fa fa-users", "Super Team")
