section.people 
    .container 
        +blockHeader("Happy client", "What people say")
        ul.people-list 
            +peopleItem("../images/img-people1.png", "Matthew dix", "Graphic Design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minima quibusdam maxime! Dolor magni excepturi unde, earum itaque fuga expedita maxime aliquid nemo nihil sit sint adipisci eveniet asperiores.")
            +peopleItem("../images/img-people2.png", "Nick Karvounis", "Graphic Design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minima quibusdam maxime! Dolor magni excepturi unde, earum itaque fuga expedita maxime aliquid nemo nihil sit sint adipisci eveniet asperiores.")
            +peopleItem("../images/img-people3.png", "Jaelynn Castillo ", "Graphic Design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minima quibusdam maxime! Dolor magni excepturi unde, earum itaque fuga expedita maxime aliquid nemo nihil sit sint adipisci eveniet asperiores.")
            +peopleItem("../images/img-people4.png", "Mike Petrucci", "Graphic Design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minima quibusdam maxime! Dolor magni excepturi unde, earum itaque fuga expedita maxime aliquid nemo nihil sit sint adipisci eveniet asperiores.")