section.quote 
    .container
        .quote-container
            //- i.quote-left-arrow.quote-arrow
            +quoteItem("../images/img-quote-avatar.png", true)
            +quoteItem("../images/img-quote-avatar.png", true)
            +quoteItem("../images/img-quote-avatar.png", true)
            //- i.quote-right-arrow.quote-arrow