section.quote 
    .container
        .quote-container
            //- i.quote-left-arrow.quote-arrow
            +quoteItem()
            +quoteItem()
            +quoteItem()
            //- i.quote-right-arrow.quote-arrow