section.story 
    .container
        +blockHeader("our stories", "latest blog")
        ul.story-list 
            +storyItem()
            +storyItem("../images/img-blog2.png")
            +storyItem("../images/img-blog3.png")

section.map 
    .container
        .map-content
            img.map-icon(src="../images/img-map-icon.png", alt="")
            h2.map-text Open map