section.team 
    .container 
        +blockHeader("Who we are", "meet our team", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo repellendus laborum nisi? Ipsum ut est nulla quis. Autem quo non, assumenda et perferendis magni aperiam odit nesciunt, ipsa corporis amet.") 
        .team-list 
            +teamItem("../images/img-team1.png", "Matthew Dix", "Graphic Design")
                +socialItem()
            +teamItem("../images/img-team2.png", "Christopher Campbell", "Branding/UX design")
                +socialItem()
            +teamItem("../images/img-team3.png", "Michael Fertig ", "Developer")
                +socialItem()