section.wedo 
    .container
        +blockHeader("Service", "What we do", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quaerat a sit enim perspiciatis dolorum voluptate nam nobis. Iste ipsam enim perspiciatis earum facere corrupti, dolore sed soluta sint labore.") 
        .wedo-container 
            img(src="../images/img-wedo.png" alt="").wedo-img
            .wedo-content 
                // accordion
                .wedo-accordion
                    .wedo-accordion-header 
                        img(src="../images/img-wedo-icon1.png" alt="").wedo-accordion-icon
                        h3.wedo-accordion-title Photography
                        i.fal.fa-chevron-up.wedo-accordion-expand
                    .wedo-accordion-content 
                        .wedo-accodion-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium cupiditate nihil perferendis, nobis libero possimus natus ducimus voluptatum enim voluptatibus, a laudantium adipisci eos sit sequi. Distinctio, illo atque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium cupiditate nihil perferendis, nobis libero possimus natus ducimus voluptatum enim voluptatibus, a laudantium adipisci eos sit sequi. Distinctio, illo atque?
                .wedo-accordion 
                    .wedo-accordion-header 
                        img(src="../images/img-wedo-icon2.png" alt="").wedo-accordion-icon
                        h3.wedo-accordion-title Creativity
                        i.fal.fa-chevron-up.wedo-accordion-expand
                    .wedo-accordion-content 
                        .wedo-accodion-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium cupiditate nihil perferendis, nobis libero possimus natus ducimus voluptatum enim voluptatibus, a laudantium adipisci eos sit sequi. Distinctio, illo atque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium cupiditate nihil perferendis, nobis libero possimus natus ducimus voluptatum enim voluptatibus, a laudantium adipisci eos sit sequi. Distinctio, illo atque?
                .wedo-accordion 
                    .wedo-accordion-header 
                        img(src="../images/img-wedo-icon3.png" alt="").wedo-accordion-icon
                        h3.wedo-accordion-title Web Design
                        i.fal.fa-chevron-up.wedo-accordion-expand
                    .wedo-accordion-content 
                        .wedo-accodion-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium cupiditate nihil perferendis, nobis libero possimus natus ducimus voluptatum enim voluptatibus, a laudantium adipisci eos sit sequi. Distinctio, illo atque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium cupiditate nihil perferendis, nobis libero possimus natus ducimus voluptatum enim voluptatibus, a laudantium adipisci eos sit sequi. Distinctio, illo atque?