section.work 
    .container 
        +blockHeader("what we do", "some of our work", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo repellendus laborum nisi? Ipsum ut est nulla quis. Autem quo non, assumenda et perferendis magni aperiam odit nesciunt, ipsa corporis amet.")
    .work-list 
        .work-column 
            .work-item
                img(src="../images/img-work1.png" alt="").work-img
                .work-content 
                    i.far.fa-image.work-icon 
                    h3.work-title Creativity Design
                    span.work-desc Lorem ipsum dolor sit amet
            .work-item
                img(src="../images/img-work2.png" alt="").work-img
                .work-content 
                    i.far.fa-image.work-icon 
                    h3.work-title Creativity Design
                    span.work-desc Lorem ipsum dolor sit amet
        .work-column 
            .work-item
                img(src="../images/img-work3.png" alt="").work-img
                .work-content 
                    i.far.fa-image.work-icon 
                    h3.work-title Creativity Design
                    span.work-desc Lorem ipsum dolor sit amet
            .work-item
                img(src="../images/img-work4.png" alt="").work-img
                .work-content 
                    i.far.fa-image.work-icon 
                    h3.work-title Creativity Design
                    span.work-desc Lorem ipsum dolor sit amet
        .work-column 
            +workItem("../images/img-work5.png", "Creativity Design", "Lorem ipsum dolor sit amet", "work-item--full")
        .work-column 
            .work-item
                img(src="../images/img-work6.png" alt="").work-img
                .work-content 
                    i.far.fa-image.work-icon 
                    h3.work-title Creativity Design
                    span.work-desc Lorem ipsum dolor sit amet
            .work-item
                img(src="../images/img-work7.png" alt="").work-img
                .work-content 
                    i.far.fa-image.work-icon 
                    h3.work-title Creativity Design
                    span.work-desc Lorem ipsum dolor sit amet

    //- grid
    //- .work-grid
    //-     .work-item
    //-         img(src="../images/img-work1.png" alt="").work-img
    //-         .work-content 
    //-             i.far.fa-image
    //-             h3.work-title Creativity Design
    //-             span.work-desc Lorem ipsum dolor sit amet
    //-     .work-item
    //-         img(src="../images/img-work2.png" alt="").work-img
    //-         .work-content 
    //-             i.far.fa-image
    //-             h3.work-title Creativity Design
    //-             span.work-desc Lorem ipsum dolor sit amet
    //-     .work-item
    //-         img(src="../images/img-work3.png" alt="").work-img
    //-         .work-content 
    //-             i.far.fa-image
    //-             h3.work-title Creativity Design
    //-             span.work-desc Lorem ipsum dolor sit amet
    //-     .work-item
    //-         img(src="../images/img-work4.png" alt="").work-img
    //-         .work-content 
    //-             i.far.fa-image
    //-             h3.work-title Creativity Design
    //-             span.work-desc Lorem ipsum dolor sit amet
    //-     .work-item.work-col-span
    //-         img(src="../images/img-work5.png" alt="").work-img
    //-         .work-content 
    //-             i.far.fa-image
    //-             h3.work-title Creativity Design
    //-             span.work-desc Lorem ipsum dolor sit amet
    //-     .work-item
    //-         img(src="../images/img-work6.png" alt="").work-img
    //-         .work-content 
    //-             i.far.fa-image
    //-             h3.work-title Creativity Design
    //-             span.work-desc Lorem ipsum dolor sit amet
    //-     .work-item
    //-         img(src="../images/img-work7.png" alt="").work-img
    //-         .work-content 
    //-             i.far.fa-image
    //-             h3.work-title Creativity Design
    //-             span.work-desc Lorem ipsum dolor sit amet

