.service {
  padding: 11rem 0 12rem;
  &-list {
    @include flexBox(stretch, space-between);
    margin-top: 6.5rem;
  }
  &-list:first-of-type {
    border-bottom: 1px solid $third-color;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
  }
  &-item {
    width: calc(33.33 - 2.7rem);
    @include flexBox(flex-start);
  }
  &-icon {
    width: 3.4rem;
    margin: 0 3rem;
  }
  &-item-info {
    width: calc(100% - 9.5rem);
  }
  &-item-title {
    color: $title-color;
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  &-item-desc {
    color: $text-color;
    line-height: 1.6;
    font-family: $secondary-font;
  }
  @include maxWidth(1023px) {
    padding: 5rem;
    &-list {
      display: block;
    }
    &-item {
      width: 100%;
    }
    &-item:not(:last-child) {
      margin-bottom: 3rem; 
    }
  }
}
